numpy
scipy
pandas
matplotlib
seaborn
tensorflow
keras==2.2.4
#torch
#mxnet-mkl
joblib
scikit-learn
mysql-connector-python
pyclustering
optunity
wheel
plotly
pathos
influxdb
PyNomaly
cloudpickle
statsmodels
pyod
xgboost
rrcf
fastdtw
dtw
arch
fastsst
coverage
fbprophet
pymysql
