scipy
#seaborn
tensorflow==2.6.0
tensorboard==2.6.0
keras==2.6.0
#torch
#mxnet-mkl
joblib
scikit-learn
#mysql-connector-python
pyclustering
optunity
wheel
#plotly
pathos
influxdb
PyNomaly
cloudpickle
statsmodels
pyod
#xgboost
rrcf
#fastdtw
#dtw
arch
fastsst
coverage
pymysql
sqlalchemy
#pymysql-pool
more-itertools
networkx
python-nonblock
psutil
mysql-connector-python
mysqlclient
mock
sql-test
requests_mock
h5py
pyts
optuna
python-rle
imblearn
#cdtw
tslearn
lightgbm
haversine
