numpy
scipy
pandas
matplotlib
seaborn
tensorflow
keras
#torch
#mxnet-mkl
scikit-learn
mysql-connector-python
pyclustering
optunity
wheel
plotly
pathos
influxdb
PyNomaly
cloudpickle
statsmodels
pyod
xgboost
rrcf
fastdtw
dtw
